*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
    height:100;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:400px;
    background-color: blue;
}
#box1{
    width: 50px;
    height:50px;
    background-color: azure;
}
#box2{
    width: 50px;
    height:50px ;
    background-color: brown;
}
#box3{
    width: 50px;
    height: 50px ;
    background-color: aquamarine;
}
p{
    position: relative;
}
p::before{
    position:absolute;
    top:100%;
    content:'';
    width: 300px;
    height:3px;
    background-color: aqua;
}
h1::first-line{
    color: pink;
}
h2::first-letter{
    color: aquamarine;
}
h3::selection{
    color: rgb(215, 250, 228);
}
